ff
@{
    ViewBag.Title = "DisplayData";
}

<h2>DisplayData Using Tempdata</h2>

@*<h1>@TempData["tmpCID"]</h1>
    <h1>@TempData["tmpCName"]</h1>
    <h1>@TempData["tmpCCity"]</h1>*@

<h2>Dispaly uisng viewdata</h2>
<h1>@ViewData["vdCID"]</h1>
<h1>@ViewData["vdCName"]</h1>
<h1>@ViewData["vdCCity"]</h1>

