
@{
    ViewBag.Title = "RecieveItHere";
}

<h2>RecieveItHere</h2>

<h1>@ViewBag.custidData</h1>
<h1>@ViewBag.custnameData</h1>
<h1>@ViewBag.custcityData</h1>
<hr/>
@*<h1>@ViewBag.custidPeekValue</h1>
<hr/>
<h1>@ViewBag.custidValue</h1>*@